<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
    <img class = "mostlikepic" alt="most liked pic" src="./assets/mostliked.jpg">
    </div>

    <div class="col-md-4">
      <h2>Most Liked</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
    </div>


   </div>

   <br><br>

   <div class="row">

       <% @posts.each do |p| %>
       <div class="col-md-4 col-sm-6 col-xs-12">
         <img alt="pic1" src="./assets/1.jpg" align="middle">
         <h3><%= link_to p.title, p %></h3>
         <p><%= truncate(p.body, length: 270) %></p>
         <p><%= p.user.first_name %> <%= p.user.last_name %></p>
         </div>
         <% end %>


    </div>


  </div>
