// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .col-md-8{
//
//   img{
//
//     height: 400px;
//     width: auto;
//     display: block;
//
//   }
// }

.mostlikepic {
  height: 100%;
  width: 100%;
  margin-right: -20em;




}

.col-md-4 {
  img{

    height: 100%;
    width: 100%;
    display: block;


  }

}



p {
  font-size: 10px;

}
